*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    
}



/*--------------TIPOGRAFÍAS-----------------*/
$fuentemarca: 'Russo One', sans-serif;
$fuentetextos: 'Open Sans', sans-serif;


/*--------------VARIABLES-----------------*/
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

/*--------------COLOR-----------------*/
$colorclaro: #9700FF;
$colormedio: #D74DC0;
$coloroscuro: #51296C;

$colortexto: #000000;
$colorblanco: #FFFFFF;
$colorcrema: #f8f3ec;
