@keyframes aparecer{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes desaparecer{
    0% {opacity: 1;}
    100% {opacity: 0;}
}


main{
    .ultimasnoticias{
        margin: 0px 5% 30px 5%;
        position: relative;
        top: 140px;
        display: flex;
        width: 90%;
        /* flex-wrap: wrap; */
        .noticiasimportantes{
            width: 68%;
            margin-right: 1%;
            background-image: linear-gradient(135deg, $coloroscuro, $colorclaro);
            z-index: 1; 
        }
        aside{
            background-color: $colorcrema;
            width: 30%;
            margin-left: 1%;
        }
    }
    .noticiasjerarquia2{
        margin: 0px 5% 30px 5%;
        position: relative;
        top: 150px;
        display: flex;
        width: 90%;
    }
}


.articuloppal{
    width: 100%;
    height: 100%;                                                      
    display: flex;
    box-shadow: 0 0 10px 0 rgba($colortexto, 0.70);
    .fotonoticia{
        width: 100%;
        height: 100%; 
        object-fit: cover;    
        z-index: -2;
        opacity: .5;
    } 
    .infotipog{
        position: absolute;
        color: $colorblanco;
        display: flex;
        flex-direction: column;
        width: 69%;
        align-self: flex-end;    
        .nombreseccion{
            font-family: $fuentemarca;
            color: $colormedio;
            margin: 3% 3% 1% 3%;
            text-transform: uppercase;
        }
        .titulonoticia{
            margin: 0px 3% 3% 3%;
            font-family: $fuentemarca;
            letter-spacing: 0.03em; 
            font-size: 4em;
        }
    }
    .cuerponoticia{
        position: absolute;
        color: $colorblanco;
        display: flex;
        flex-direction: column;
        width: 69%;
        align-self: center;  
        text-align: center;
        font-family: $fuentetextos;
        padding: 10px 6%;
        z-index: 5;
        visibility: hidden;
        font-size: 1.2em;
        line-height: 1.6em;
    }
    .boton{
        position: absolute;
        bottom: 40px; 
        left: 20%;
        width: 30%;
        height: 40px;
        background-color: $colormedio;
        border-radius: 40px;    
        font-family: $fuentetextos;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1em;
        color: $colorblanco;
        padding: 10px;
        text-align: center;       
        visibility: hidden;
    }
}

.articuloppal:hover{
    z-index: 15;
    width: 100%;
    height: 100%;
    .cuerponoticia{
        visibility: visible;
        animation: aparecer 5s ease;
    }
    .infotipog{
        animation: desaparecer 1s ease;
        opacity: 0;
    } 
    .boton{
        visibility: visible;
        animation: aparecer 5s ease;
    }
}

.boton:hover{
    font-weight: $bold;
    color: $colormedio;
    background-color: $colorblanco;
}


aside{
    box-shadow: 0 0 10px 0 rgba($colortexto, 0.70);
    .tituloaside{
        color: $colorcrema;
        font-family: $fuentemarca;
        text-transform: uppercase;
        margin: 0px;
        padding: 8%;
        letter-spacing: 0.03em;
        text-align: center;
        background-color: $coloroscuro;

        
    }
    .textootras{
        display: flex;
        flex-direction: column;
        height: 80%;
        justify-content: space-between;
        padding: 0px;
        margin: 0px 30px;
        li{
            list-style: none;            
            .nombreseccion{
                color: $coloroscuro;
                font-family: $fuentemarca;
                text-transform: uppercase;
                font-size: 1em;
                margin: 0px 0px;
                padding: 15px 0px 5px 0px; 
            }
            .titular{
                font-family: $fuentetextos;
                color: $colortexto;
                font-size: 1.2em;
                margin: 0px 0px 10px 0px;
                
            }
            hr{
                height: 2px;
                width: 100%;
                margin: 0px;
                padding: 0px;
                background-color: $coloroscuro;
                border: none;
            }
        }
    }
}


.articulosecundario{
    width: 32%;
    height: 600px;
    box-shadow: 0 0 10px 0 rgba($colortexto, 0.70);
    background-color: $colorcrema;
    display: flex;
    flex-direction: column;
    .fondolila{
        background-image: linear-gradient(135deg, $coloroscuro, $colorclaro);
        width: 100%;
        max-height: 220px;
        margin: 0px;
        padding: 0px;     
        .fotonoticia{
            align-self: flex-start;
            width: 100%;
            max-height: 220px;
            object-fit: cover;
            opacity: .5;
        }
    }
    .nombreseccion{
        font-family: $fuentemarca;
        font-size: 1em;
        color: $colormedio;
        margin: 5% 5% 2% 5%;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
    .titulonoticia{
        margin: 0px 5% 0px 5%;
        font-size: 1.3em;
        font-family: $fuentetextos;
    }
    hr{
        height: 2px;
        width: 90%;
        margin: 3% 5% 3% 5%;
        padding: 0px;
        background-color: $coloroscuro;
        border: none;

    }
    .cuerponoticia{
        margin: 1% 5% 0% 5%;
        font-family: $fuentetextos;
        font-size: 1em;
    }
    .contenedorboton{
        position: absolute;
        bottom: 0;
        width: 32%;
        display: flex;
        .boton{
            font-family: $fuentetextos;
            font-size: .9em;
            height: 40px;
            width: 100%;
            margin: 5%;
            background-color: $colormedio;
            border-radius: 40px;    
            text-decoration: none;
            text-transform: uppercase;
            color: $colorblanco;
            padding: 10px;
            text-align: center;    
        }       
    }
    .boton:hover{
        background-color: $coloroscuro;
    }         
}

.a1, .a2{
    margin-right: 2%;
}

