@media (min-width: 900px) {
    main{
        .noticiasimportantes{
            display: flex;
            flex-direction: row;
            width: 90%;             
            height: 100%;
            .articuloppal{
                width: 68%;
                height: 100%;        
                margin: 0px 2% 0px 0px;
            }
            aside{
                width: 30%;                    
                margin: 0px;
                height: 100%; 
            }
        }           
    .noticiasjerarquia2{
        top: 150px;
        display: flex;
    }
}

    
    
    .articuloppal{
                            
        .fotonoticia{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .infotipog{
            width: 69%;            
            .nombreseccion{
                margin: 3% 3% 1% 3%;
            }
            .titulonoticia{
                margin: 0px 3% 3% 3%;
                letter-spacing: 0.03em; 
                font-size: 4em;
            }
        }
        .cuerponoticia{
            width: 69%;
            padding: 10px 6%;
            font-size: 1.2em;
            line-height: 1.6em;        
        }
        .boton{
            bottom: 40px; 
            left: 20%;
            width: 30%;
        }
    }
        
    
    aside{
        box-shadow: 0 0 10px 0 rgba($colortexto, 0.70);                              
        .textootras{
            margin: 0px 30px;
            li{        
                .titular{
                    margin: 0px 0px 10px 0px;
                }
            }
        }
    }
    
    
    .articulosecundario{
        width: 32%;
        height: 600px;
        
        .foto{
            .fondolila{
                width: 100%;
                max-height: 220px;
                margin: 0px;
                padding: 0px;     
                .fotonoticia{
                    max-height: 220px;
                }
            }
        }

        .texto2da{
            .titulonoticia{
                font-size: 1.3em;
            }
            .contenedorboton{
                position: absolute;
                bottom: 0;
                width: 32%;
                display: flex;
                .boton{
                    position: relative;
                    bottom: 20px;
                    width: 100%;
                    margin: 5%;
                }       
            }
            .boton:hover{
                background-color: $coloroscuro;
            }      
        }       
    }
    
    .a1, .a2{
        margin-right: 2%;
    }
    
} 