@keyframes aparecer{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes desaparecer{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

main{    
    display: block;
    flex-direction: column;
    .noticiasimportantes{
            margin: 0px 5% 30px 5%;
            position: relative; 
            top: 140px;
            display: flex;
            flex-direction: column;
            width: 90%;          
            .articuloppal{
                height: 450px;
                width: 100%;
                background-image: linear-gradient(135deg, $coloroscuro, $colorclaro);
                z-index: 1; 
                margin-top: 15px;
            }
            aside{
                background-color: $colorcrema;
                width: 100%;
                margin-top: 20px;
            }
        }
        .noticiasjerarquia2{
            margin: 0px 5% 30px 5%;
            position: relative;
            top: 140px;
            display: block;
            width: 90%;
        }
    }



.articuloppal{
    width: 100%;
    height: 100%;                                                      
    display: flex;
    box-shadow: 0 0 10px 0 rgba($colortexto, 0.70);
    .fotonoticia{
        width: 100%;
        height: 100%; 
        object-fit: cover;    
        z-index: -2;
        opacity: .5;
    } 
    .infotipog{
        position: absolute;
        color: $colorblanco;
        display: flex;
        flex-direction: column;
        width: 90%;
        align-self: flex-end;    
        .nombreseccion{
            font-family: $fuentemarca;
            color: $colormedio;
            margin: 3% 20px 1% 20px;
            text-transform: uppercase;
        }
        .titulonoticia{
            margin: 0px 20px 3% 20px;
            font-family: $fuentemarca;
            letter-spacing: 0.03em; 
            font-size: 2.3em;
        }
    }
    .cuerponoticia{
        position: absolute;
        color: $colorblanco;
        width: 100%;
        align-self: center;  
        text-align: center;
        font-family: $fuentetextos;
        padding: 10px 6% 100px 6%;
        z-index: 5;
        visibility: hidden;
        font-size: 1em;
        line-height: 1.4em;        
        span{
            color: $colormedio;
            font-weight: $bold;
        }
    }
    .boton{
        position: absolute;
        top: 400px; 
        left: 5%;
        width: 90%;
        height: 40px;
        background-color: $colormedio;
        border-radius: 40px;    
        font-family: $fuentetextos;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1em;
        color: $colorblanco;
        padding: 10px;
        text-align: center;       
        visibility: hidden;
    }
}

.articuloppal:hover{
    z-index: 15;
    width: 100%;
    height: 100%;
    .cuerponoticia{
        visibility: visible;
        animation: aparecer 5s ease;
    }
    .infotipog{
        animation: desaparecer 1s ease;
        opacity: 0;
    } 
    .boton{
        visibility: visible;
        animation: aparecer 5s ease;
    }
}

.boton:hover{
    font-weight: $bold;
    color: $colormedio;
    background-color: $colorblanco;
}


aside{
    box-shadow: 0 0 10px 0 rgba($colortexto, 0.70);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .tituloaside{
        color: $colorcrema;
        font-family: $fuentemarca;
        text-transform: uppercase;
        margin: 0px;
        padding: 8%;
        letter-spacing: 0.03em;
        text-align: center;
        background-color: $coloroscuro;
        padding: 30px 0px;
    }
    .textootras{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: 0px;
        margin: 20px;
        li{
            list-style: none;            
            .nombreseccion{
                color: $coloroscuro;
                font-family: $fuentemarca;
                text-transform: uppercase;
                font-size: 1em;
                margin: 0px 0px;
                padding: 15px 0px 5px 0px; 
            }
            .titular{
                font-family: $fuentetextos;
                color: $colortexto;
                font-size: 1.2em;
                margin: 0px 0px 10px 0px;
                
            }
            hr{
                height: 2px;
                width: 100%;
                margin: 0px;
                padding: 0px;
                background-color: $coloroscuro;
                border: none;
            }
        }
    }
}


.articulosecundario{
    width: 100%;
    box-shadow: 0 0 10px 0 rgba($colortexto, 0.70);
    background-color: $colorcrema;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .foto{
        width: 100%;
        margin: 0px;
        padding: 0px;
        .fondolila{
            background-image: linear-gradient(135deg, $coloroscuro, $colorclaro);                
            .fotonoticia{
                align-self: flex-start;
                width: 100%;
                max-height: 180px;
                object-fit: cover;
                opacity: .5;
            }
        }
    }

    .texto2da{
        .nombreseccion{
            font-family: $fuentemarca;
            font-size: 1em;
            color: $colormedio;
            margin: 5% 5% 2% 5%;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }
        .titulonoticia{
            margin: 0px 5% 0px 5%;
            font-size: 1.2em;
            font-family: $fuentetextos;
        }
        hr{
            height: 2px;
            width: 90%;
            margin: 3% 5% 3% 5%;
            padding: 0px;
            background-color: $coloroscuro;
            border: none;

        }
        .cuerponoticia{
            margin: 1% 5% 0% 5%;
            font-family: $fuentetextos;
            font-size: 1em;
        }
        .contenedorboton{
            width: 100%;
            display: flex;
            .boton{
                font-family: $fuentetextos;
                font-size: .9em;
                height: 40px;
                width: 90%;
                margin: 30px 5%;
                background-color: $colormedio;
                border-radius: 40px;    
                text-decoration: none;
                text-transform: uppercase;
                color: $colorblanco;
                padding: 10px;
                text-align: center;    
            }       
        }
        .boton:hover{
            background-color: $coloroscuro;
        } 
    }
}

