@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
}

/*--------------TIPOGRAFÍAS-----------------*/
/*--------------VARIABLES-----------------*/
/*--------------COLOR-----------------*/
header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 10;
}

header .marcasuperior .logo {
  display: inline;
}

header .marcasuperior .logo h1 {
  background-image: -webkit-gradient(linear, left top, right top, from(#51296C), to(#D74DC0));
  background-image: linear-gradient(90deg, #51296C, #D74DC0);
  font-family: "Russo One", sans-serif;
  font-size: 3em;
  color: #FFFFFF;
  letter-spacing: 0.03em;
  margin: 0px;
  padding: 10px 5%;
}

header nav {
  background-color: #51296C;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0px 5%;
  padding: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul li {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  width: 100%;
  text-align: center;
  padding: 7px 0px;
}

header nav ul li .linknav {
  color: #FFFFFF;
  text-decoration: none;
}

header nav ul li:hover {
  background-color: #D74DC0;
}

header nav ul li:hover .linknav {
  font-weight: 700;
}

header .sombra {
  position: relative;
  top: -100px;
  height: 100px;
  width: 100%;
  background-color: blue;
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.8);
  z-index: -5;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes desaparecer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes desaparecer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

main .ultimasnoticias {
  margin: 0px 5% 30px 5%;
  position: relative;
  top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  /* flex-wrap: wrap; */
}

main .ultimasnoticias .noticiasimportantes {
  width: 68%;
  margin-right: 1%;
  background-image: linear-gradient(135deg, #51296C, #9700FF);
  z-index: 1;
}

main .ultimasnoticias aside {
  background-color: #f8f3ec;
  width: 30%;
  margin-left: 1%;
}

main .noticiasjerarquia2 {
  margin: 0px 5% 30px 5%;
  position: relative;
  top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

.articuloppal {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}

.articuloppal .fotonoticia {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
  opacity: .5;
}

.articuloppal .infotipog {
  position: absolute;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 69%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.articuloppal .infotipog .nombreseccion {
  font-family: "Russo One", sans-serif;
  color: #D74DC0;
  margin: 3% 3% 1% 3%;
  text-transform: uppercase;
}

.articuloppal .infotipog .titulonoticia {
  margin: 0px 3% 3% 3%;
  font-family: "Russo One", sans-serif;
  letter-spacing: 0.03em;
  font-size: 4em;
}

.articuloppal .cuerponoticia {
  position: absolute;
  color: #FFFFFF;
  /* display: flex;
        flex-direction: column; */
  width: 69%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 10px 6%;
  z-index: 5;
  visibility: hidden;
  font-size: 1.2em;
  line-height: 1.6em;
}

.articuloppal .cuerponoticia span {
  color: #D74DC0;
  font-weight: 700;
}

.articuloppal .boton {
  position: absolute;
  bottom: 40px;
  left: 20%;
  width: 30%;
  height: 40px;
  background-color: #D74DC0;
  border-radius: 40px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
  visibility: hidden;
}

.articuloppal:hover {
  z-index: 15;
  width: 100%;
  height: 100%;
}

.articuloppal:hover .cuerponoticia {
  visibility: visible;
  -webkit-animation: aparecer 5s ease;
          animation: aparecer 5s ease;
}

.articuloppal:hover .infotipog {
  -webkit-animation: desaparecer 1s ease;
          animation: desaparecer 1s ease;
  opacity: 0;
}

.articuloppal:hover .boton {
  visibility: visible;
  -webkit-animation: aparecer 5s ease;
          animation: aparecer 5s ease;
}

.boton:hover {
  font-weight: 700;
  color: #D74DC0;
  background-color: #FFFFFF;
}

aside {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}

aside .tituloaside {
  color: #f8f3ec;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  margin: 0px;
  padding: 8%;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: #51296C;
}

aside .textootras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
  margin: 0px 30px;
}

aside .textootras li {
  list-style: none;
}

aside .textootras li .nombreseccion {
  color: #51296C;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  margin: 0px 0px;
  padding: 15px 0px 5px 0px;
}

aside .textootras li .titular {
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-size: 1.2em;
  margin: 0px 0px 10px 0px;
}

aside .textootras li hr {
  height: 2px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #51296C;
  border: none;
}

.articulosecundario {
  width: 32%;
  height: 600px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  background-color: #f8f3ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articulosecundario .fondolila {
  background-image: linear-gradient(135deg, #51296C, #9700FF);
  width: 100%;
  max-height: 220px;
  margin: 0px;
  padding: 0px;
}

.articulosecundario .fondolila .fotonoticia {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  max-height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .5;
}

.articulosecundario .nombreseccion {
  font-family: "Russo One", sans-serif;
  font-size: 1em;
  color: #D74DC0;
  margin: 5% 5% 2% 5%;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.articulosecundario .titulonoticia {
  margin: 0px 5% 0px 5%;
  font-size: 1.3em;
  font-family: "Open Sans", sans-serif;
}

.articulosecundario hr {
  height: 2px;
  width: 90%;
  margin: 3% 5% 3% 5%;
  padding: 0px;
  background-color: #51296C;
  border: none;
}

.articulosecundario .cuerponoticia {
  margin: 1% 5% 0% 5%;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.articulosecundario .contenedorboton {
  position: absolute;
  bottom: 0;
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articulosecundario .contenedorboton .boton {
  font-family: "Open Sans", sans-serif;
  font-size: .9em;
  height: 40px;
  width: 100%;
  margin: 5%;
  background-color: #D74DC0;
  border-radius: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
}

.articulosecundario .boton:hover {
  background-color: #51296C;
}

.a1, .a2 {
  margin-right: 2%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50px;
  background-color: #51296C;
  position: relative;
  top: 150px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}

footer p {
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  font-size: 0.9em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 900px) {
  main .ultimasnoticias {
    display: block;
    width: 90%;
  }
  main .ultimasnoticias .noticiasimportantes {
    width: 100%;
    margin-bottom: 5%;
  }
  main .ultimasnoticias aside {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  main .noticiasjerarquia2 {
    display: block;
    width: 100%;
  }
  .articuloppal {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .articuloppal .fotonoticia {
    z-index: 0;
  }
  .articuloppal .infotipog {
    width: 100%;
  }
  .articuloppal .infotipog .titulonoticia {
    font-size: 3.5em;
  }
  .articuloppal .noticiaoculta {
    visibility: visible;
    /*             align-self: flex-end;
            width: 40%;
            height: 40px; 
            
            position: absolute;           
            bottom: 50px; 
            left: 30%;
            
            
            

            font-size: 1em;
            
            padding: 10px; */
  }
  .articuloppal .noticiaoculta .cuerponoticia {
    width: 100%;
    font-size: 1em;
    line-height: 1.4em;
  }
  .articuloppal .noticiaoculta .boton {
    bottom: 60%;
    left: 20%;
    width: 30%;
    height: 40px;
    background-color: #D74DC0;
    border-radius: 40px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    visibility: visible;
  }
}
/*# sourceMappingURL=style.css.map */